<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejemplo de Botones</title>
</head>
<body>
    <h1>Poryecto de Saturación de Caudal</h1>
    <form action="/script1.py" method="post">
        <button type="submit">Ejecutar Script 1</button>
    </form>
    <form action="/script2.py" method="post">
        <br /><br />
        <button type="submit">Ejecutar Script 2</button>
    </form>
</body>
</html>
